body {
  margin: 0;
  width: 100%;
  height: 100vh;
}
#c {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: -1;
}
/* canvas {
  width: 100%;
  height: 100%;
  display: block;
} */
.diagram {
  display: inline-block;
  width: 200px;
  height: 200px;
}
.left {
  float: left;
  margin-right: 0.25em;
}
.right {
  float: right;
  margin-left: 0.25em;
}
p {
  margin: 1em auto;
  max-width: 500px;
  font-size: xx-large;
}
